<a [routerLink]="['/login']">
  <h1>Library TechLead</h1>
</a>

<a style="margin-left: 1000px;" routerLink="/book" class="button fancy-button">
  <i class="material-icons">admin_panel_settings</i>
  Perfil
</a>

<a routerLink="/books" class="button fancy-button">
  <i class="material-icons">admin_panel_settings</i>
  Administrador
</a>

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
