<h2>Gerenciador de Livros</h2>

<div>
  <button [routerLink]="['/form-book']" >
    Cadastrar Livro
  </button>

  <button style="margin-left: 10px;" [routerLink]="['/orders']" >
    Gerenciar Pedidos
  </button>
</div>

<br />

<div class="table">
  <div class="card" >
    <div class="card-body">
      <table class="table table-bordered table-striped" >
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Author</th>
            <th scope="col">Data Criação</th>
            <th scope="col">Status</th>
            <th scope="col">Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books" >
            <td>{{ book.name }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.dataCadastro }}</td>
            <td>{{ book.bookStatus }}</td>
            <td>
              <button (click)="updateToBook(book)" style="margin-right: 10px;">
                Editar
              </button>

              <button (click)="removeToBook(book)" style="margin-right: 10px;">
                Excluir
              </button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
